<div class="container">
    <div class="row">
        <div class="col">

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">id_exposant</th>
                        <th scope="col">nom_exposant</th>
                        <th scope="col">prenom_exposant</th>
                        <th scope="col">email_exposant</th>
                        <th scope="col">Action</th>

                    </tr>
                </thead>


                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>

                        <td>
                            <button class="btn btn-primary" (click)="Valider(1)">Valider</button>
                            <button class="btn btn-success" (click)="Modifier(1)">Modifier</button>
                            <button class="btn btn-danger" (click)="Supprimer(1)">Supprimer</button>


                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>